.main-container{
    background-color: green;
}
.topAnimatedArea{
    background-color: #8ec1da;
    position: relative;
}
.bottomAnimatedArea{
    background-color: #bfdeec;
}
.container-fluid{
    padding: 0;
    position: relative;
}
#animate-area {
    background-image: url(https://davidwalsh.name/demo/bg-clouds.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 50s linear infinite;
    -ms-animation: animatedBackground 50s linear infinite;
    -moz-animation: animatedBackground 50s linear infinite;
    -webkit-animation: animatedBackground 50s linear infinite;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.bgCircle {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    /*border: 7px solid rgba(170,208,227, 0.3);*/
    border-radius: 100%;
    width: 300px;
    height: 300px;
    background-color: rgba(198,225,239, 0.5);
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
    -webkit-box-shadow: 0px 0px 55px 32 rgba(198,225,239,0.5);
    -moz-box-shadow: 0px 0px 55px 32px rgba(198,225,239,0.5);
    box-shadow: 0px 0px 55px 32px rgba(198,225,239,0.5);
    
}

@-webkit-keyframes mymove {
    0% {transform: scale(1.5,1.5);}
    50% {transform: scale(2,2);}
    100% {transform: scale(1.5,1.5);}
}

@keyframes mymove {
    0% {transform: scale(1.5,1.5);}
    50% {transform: scale(2,2);}
    100% {transform: scale(1.5,1.5);}
}

.animate-hide {
  transition: all linear 1s;
  opacity: 1;
}
.animate-hide.ng-hide {
  opacity: 0;
}
.md-errors-spacer{
    display: none;
}

.h36p {
    height: 36px;
}

.hax {
    margin-top: 28px;
}

.w400p {
    width: 400px;
}

.w100p {
    width: 100px;
}

.roboto100 {
    font-family: Roboto;
    font-weight: 100;
}

h2.roboto100 {
    text-align: center;
}